mise.lock linguist-generated
stencil.lock linguist-generated

### Start attributes inserted by other modules
### End attributes inserted by other modules

## <<Stencil::Block(gitattributesAdditional)>>

## <</Stencil::Block>>
